.item {
	padding: 20px;
}
.content {
	font-size: 34px;
	padding-top: 60px;
	color: #352b2e;
	text {
		line-height: 56px;
	}
	.strong {
		font-weight: 700;
	}
	.thin {
		font-weight: 100;
	}
}

.btn-round {
	bottom: 30px;
}

